.nav-link {
  &:hover {
    color: var(--bs-primary);
    border-bottom: 1px solid var(--bs-primary);
  }
}

.btn-outline-primary {
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
  &:hover {
    color: #fff;
  }
}

.header {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/hero.jpg") center center no-repeat;
  background-size: cover;
}

.navbar {
  transition: all 0.5s ease-in-out;
}
.navbar-sticky {
  background: var(--bs-dark);
  opacity: 0.8;
}

.about-img {
  width: 200px;
}

.card-body img {
  width: 100px;
}

@media (max-width: 767px) {
  .about-content {
    flex-direction: column;
  }
}
